#main{
	-fx-background-image:url('../Images/bg.jpg');
	-fx-background-size:cover;
}

#mbutton{
	-fx-background-color:#590212;
	-fx-text-fill:#BFB2AA;
	}
	
#mbutton:hover{
	-fx-background-color:#260108;
}
#pane{
	-fx-background-image:url('../Images/bg.jpg');
	-fx-background-size:cover;
}
#TotalTime{
	-fx-text-fill:#BFB2AA;
}
#CurrentTime{
	-fx-text-fill:#BFB2AA;
}
#buttonP:hover{
	-fx-background-color:linear-gradient(to bottom,#260108,#590212);
	-fx-text-fill:#BFB2AA;
}
#buttonP{
	-fx-background-color:linear-gradient(to bottom,#590212,#260108);
	-fx-text-fill:#BFB2AA;	
}
#bak{
	-fx-background-color:linear-gradient(to bottom,#590212,#260108);
	-fx-text-fill:#BFB2AA;
}
#bak:hover{
	-fx-background-color:linear-gradient(to bottom,#260108,#590212);
	-fx-text-fill:#BFB2AA;
	
}
.slider .track{
	-fx-background-color:linear-gradient(to bottom,#260108,#590212);
}
.slider .thumb{
	-fx-background-color:#ffdead
}
